body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.outerbox {
	background-color: rgba(0, 0, 0, 0.8);
	padding-bottom: 2.5vw;
}

.map-container {
	height: calc(100vh - 150px - 2.5vw);
	width: 70%;
	margin-left: 2.5vw;
	border-radius: 15px;
}

.sideinfo {
	background-color: white;
	border: 3px solid #38f294;
	text-align: center;
	display: inline-block;
	padding: 30px 50px;
	border-radius: 15px;
	position: absolute;
	width: 18%;
	height: 40%;
	right: 1.5vw;
	top: calc(155px + 16%);
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-bottom-left {
	display: none;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #fff;
	padding: 6px 12px;
	z-index: 1;
	position: absolute;
	top: 150px;
	left: 2.5vw;
	margin: 12px;
	border-radius: 4px;
}

.sidebar .first-elem {
	padding-right: 10px;
	border-right: 0.5px solid #fff;
}

.sidebar .second-elem {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 0.5px solid #fff;
	border-right: 0.5px solid #fff;
}

.sidebar .third-elem {
	padding-left: 10px;
	border-left: 0.5px solid #fff;
}

.headertitle {
	background-image: url("../public/white.jpg");
	background-clip: text;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-clip: text;
	transition: background-image 0.5s;
	color: transparent;
}

.headertitle:hover {
	background-image: url("../public/fire.gif");
	transition: background-image 0.5s;
}

.trackertitle {
	transition-duration: 0.3s;
}

.trackertitle:hover {
	color: #84f484;
	transition-duration: 0.3s;
}

.sideinfo hr {
	border: dotted #38f294 6px;
	border-bottom: none;
	width: 75%;
	margin-top: 25px;
	margin-bottom: 25px;
}

@media screen and (max-width: 539px) {
	.headertitle,
	.trackertitle,
	.headerspace {
		font-size: 36px;
	}
}
